body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-weight: 700;
}
.navbar a{
    text-decoration: none;
    border-radius: 6px;
    float: right;
    color: #000;
    padding: 5px 10px;
    margin: 2%;
    font-weight: 700;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(45deg, green, salmon);
    padding: 10px 20px;
    border-radius: 2%;
    color: black;
    font-weight: 700;
}
section{
    height:500px;
}
.half-side{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;   
}

.half-side img{
    width: 100%;
    height: 450px;
}
.highlight{
    color: orange;
}
.projects{
    background-color: grey;
    text-align: center;
    padding: 100px;
}
.single-project{
    background-color: white;
    width: 25%;
    padding: 2%;
    margin: 2%;
    float: left;
    border-radius: 2%;
    box-shadow: 10px 10px 30px violet;
}
.projects img{
    width: 100%;
}
.Skill-area{  
    background-image: url(img/top-banner.jfif);
}
.skill{
    background-color: antiquewhite;
    box-shadow: 10px 10px 30px goldenrod;
}
footer{
    text-align: center;
    padding: 3%;
}
footer img{
    width: 2%;
}

